@tailwind base;

@layer base {
    :root {
        --login-bg-image: url('/img/catchat2.png');
    }

    /* En móvil, no mostrar la imagen de fondo */
    @media (max-width: 1023px) {
        :root {
            --login-bg-image: none;
        }
    }
}

@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
}